#Player 1 template possible
Nom = Jean Wati Roger

#Couleur en RVB ?
Couleur = 123 12 234

#Taille pinceau [0-10] ?
Taille = 5

#Sprites Est Ouest Nord Sud
sprite_E     = ./sprite.png
sprite_SE    = ...
sprite_S     = ...
sprite_SO    = ...
sprite_O     = ...
sprite_NO    = ...
sprite_N     = ...
sprite_NE    = ...

#Vitesses par défaut
vitesseX     = 5
vitesseY     = 1